.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.picture-container {
    text-align: center;
    margin-top: 20px; /* Adjust the desired margin value */
    margin-bottom: 40px; /* Adjust the desired margin value */
    border: 5px solid #8B4513;
    border-radius: 5px;
}

.picture-img {
    width: 400px; /* Adjust the desired width */
    height: auto; /* Adjust the desired height or use a fixed value */
}

.text {
    text-align: justify;
    color: #8B4513;
    font-weight: bold;
    max-width: 800px;
    line-height: 1.5;
    border: 5px solid #8B4513;
    border-radius: 5px;
    background-color: blanchedalmond;
}

    .text p {
        margin-bottom: 15px;
    }
