/* Styling for the "About Us" section */
#about-us {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

    #about-us h2 {
        color: #663300;
    }

    #about-us p {
        color: #333333;
    }

/* Styling for the footer */
footer {
    background-color: #996633;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
