.picture-row {
    display: flex;
    justify-content: flex-start;
}

.picture-item {
    text-align: center;
    margin: 10px;
    border: 1px solid #8B4513;
    padding: 10px;
    background-color: #F4A460;
    border-radius: 5px;
}

.picture-img {
    width: 200px; /* Adjust the desired width */
    height: 200px; /* Adjust the desired height */
}

.picture-button {
    margin-top: 10px;
    background-color: #8B4513;
    color: #FFF;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}

.picture-text {
    margin-top: 10px;
    color: #8B4513;
    font-weight: bold;
}
